@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        if (!User.IsInRole("Member") && !User.IsInRole("Admin") && !User.IsInRole("Librarian"))
        {
            <li class="navbar-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
            </li>
        }

    }
</ul>