@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



    <ul class="navbar-nav">
        @if (User.IsInRole("Librarian"))
        {
            <li class="navbar-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Create">Create Book</a>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="navbar-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Create">Books</a>
            </li>
        }
    </ul>

