@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <div class="menu-holder-custom">
        <div class="d-inline-block menu-div-class p-1">
            <a class="header-top" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @User.Identity.Name!</a>
        </div>
        <div class="d-inline-block menu-div-class p-1">
            <form class="form-inline justify-content-end" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="background-color:black" class="btn border-0"><font color="red">Logout</font></button>
            </form>
        </div>
    </div>
}
else
{
    <span class="ph-number">Call : 0877-353-688</span>
}
