@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject LMS.Services.Contracts.INotificationService notificationService

<ul class="navbar-nav">
    @if (User.IsInRole("Member"))
    {
        <li class="navbar-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MyBooks">MyBooks</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MyReservations">MyReservations</a>
        </li>
        <li class="cart my-2 my-lg-0">
            <span>
                <a class="fa fa-bell " aria-hidden="true" asp-area="" asp-controller="Notification" asp-action="Index">Notifications</a>
            </span>
            @{ var loggedUser = await UserManager.GetUserAsync(User);
                if (loggedUser == null)
                {

                }
                else
                {

                    var id = loggedUser.Id;
                    @if (await notificationService.GetNotificationsCountAsync(id) > 0)
                    {
                        <span class="quntity">@await notificationService.GetNotificationsCountAsync(id)</span>
                    }
                }
            }
        </li>
    }
</ul>
