@model  NotificationViewModel

<tr>
    <td>
        <dl class="row">
            <dd class="col-sm-10">
                @Model.Username
            </dd>
        </dl>
    </td>
    <td>
        <dl class="row">
            <dd class="col-sm-10">
                @Model.Description
            </dd>
        </dl>
    </td>
    <td>
        <dl class="row">
            <dd class="col-sm-10">
                @Model.EventDate
            </dd>
        </dl>
    </td>
</tr>