@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!User.IsInRole("Admin") && !User.IsInRole("Member") && !User.IsInRole("Librarian"))
{
    if (!SignInManager.IsSignedIn(User))
    {
        <a class="btn bg-success border-0" asp-area="Identity" asp-page="/Account/Login">Enter Now</a>
    }
    else
    {
        //stranichka za plashtane na membership!
        <form method="get">
            <button class="btn bg-success border-0" asp-controller="Membership" asp-action="Subscribe">Get Premium Account</button>
        </form>
    }
}
else
{
    <a class="btn bg-success border-0" asp-controller="Book" asp-action="Index">Read Now</a>
}