
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

    
<section class="about-sec">
    <div class="about-img">
        <figure style="background:url(./images/about-img.jpg)no-repeat;"></figure>
    </div>
    <div class="about-content">
        <h2>Seattle Public Library,</h2>
        <p>
            The Seattle Public Library's Central Library is the flagship library of The Seattle Public Library system.
            The 11-story (185 feet or 56.9 meters high) glass and steel building in downtown Seattle, Washington was opened to the
            public on Sunday, May 23, 2004. Rem Koolhaas and Joshua Prince-Ramus of OMA/LMN were the principal
            architects, Magnusson Klemencic Associates was the structural engineer with Arup; Arup also provided mechanical,
            electrical, and plumbing engineering, as well as, fire/life safety, security, IT and communications, and audio visual consulting;
            and Hoffman Construction Company of Portland, Oregon, was the general contractor. The 362,987
            square feet (33,722.6 m2) public library can hold about 1.45 million books and other materials, features
            underground public parking for 143 vehicles, and includes over 400 computers open to the public. Over 2 million
            individuals visited the new library in its first year. It is the third Seattle Central Library building to be located
            on the same site at 1000 Fourth Avenue, the block bounded by Fourth and Fifth Avenues and Madison and Spring
            Streets. The library has a unique, striking appearance, consisting of several discrete "floating platforms"
            seemingly wrapped in a large steel net around glass skin. Architectural tours of the building began in June 2004.

            In 2007, the building was voted #108 on the American Institute of Architects' list of Americans' 150 favorite structures in the US
            It was one of two Seattle buildings included on the list of 150 structures, the other being Safeco Field.
        </p>
        <div class="btn-sec">
            <a href="shop.html" class="btn yellow">shop books</a>
            <a href="login.html" class="btn black">subscriptions</a>
        </div>
    </div>
</section>
