@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2 class="align-content-center">Privacy Policy</h2>
            <hr>
        </div>
    </div>
</section>
<section class="about-sec" style="background:#eeeeee">
    <div class="about-img">
        <figure style="background:url(../../wwwroot/images/offers.jpg)no-repeat;"><img src="https://www.kamzan.com/wp-content/uploads/2017/12/GDPR-SME-1.png"></figure>
    </div>
    <div class="about-content">
        <p style="padding-left:-100px">
            We from Seattle LMS are concern about your personal data security. We strictly follow the <a href=" https://gdpr-info.eu/"><b>"General Data Protection Regulation" (GDPR)</b></a>!

            Аny kind of obscene language or disrespectful attitude towards other users in any form will not be tolerated and will be punished with a ban by the administrators.

            Please treat the property of the library with respect.
        <p>Thank you for your correct attitude.</p>
        <p> </p>
        <p> Have a great time with our
        <a asp-controller="Book" asp-action="Index">books</a>.</p>
    </div>
</section>
   
