@model AdvancedSearchViewModel
@{
    ViewData["Title"] = "AdvancedSearch";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2 class="align-content-center">Advanced Search</h2>
            <hr>
        </div>
    </div>
</section>
<div class="justify-content-xl-center">

    <form asp-action="SearchResults" method="get" style="padding-left:50px">
        @*<div class="form-actions no-color">*@
        <p>
            <input asp-for="Title" type="text" class="col-md-6" name="Title" placeholder="Enter book title..." />
            <span asp-validation-for="Title" class="text-danger"></span>
        </p>
        <p>
            <input asp-for="Author" type="text" class="col-md-6" name="Author" placeholder="Enter book author..." />
            <span asp-validation-for="Author" class="text-danger"></span>
        </p>
        <p>
            <input asp-for="Subject" type="text" class="col-md-6" name="Subject" placeholder="Enter book subject..." />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </p>
        <p>
            <input asp-for="Year" type="text" class="col-md-6" name="Year" placeholder="Enter book publication year..." />
            <span asp-validation-for="Year" class="text-danger"></span>
        </p>
        <p>
            <input asp-for="Inclusive" type="checkbox" name="Inclusive" /> <font color="blue"><b>Inclusive</b></font>
        </p>
        <p>
            <input type="submit" value="Search" class="btn" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        @*</div>*@
    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}