@model BookViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
    <section class="recomended-sec">
        <div class="container">
            <div class="title">
                <h2 class="align-content-center">Create Book</h2>
                <hr>
            </div>
        </div>
    </section>

<hr />
<div class="justify-content-xl-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Please, enter title..." />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" placeholder="Please, enter name..."  />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" placeholder="Please, enter pages..." />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" placeholder="Please, enter year..." />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" placeholder="Please, enter country..." />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" placeholder="Please, enter language..."  />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCategoryName" class="control-label"></label>
                <input asp-for="SubjectCategoryName" class="form-control" placeholder="Please, enter subject..." />
                <span asp-validation-for="SubjectCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Copies" class="control-label"></label>
                <input asp-for="Copies" class="form-control" placeholder="Please,enter copies..."  />
                <span asp-validation-for="Copies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImageUrl" class="control-label"></label>
                <input asp-for="CoverImageUrl" class="form-control" placeholder="Please,enter image address..." />
                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Homepage</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

